data_path: "data"
log_path: "final_logs"

dataset: "BAMotifs"
dataset_params:
  num_graphs: 3000
  attach_prob: 0.2
  min_nodes: 20
  max_nodes: 40
  min_edges_per_node: 2
  max_edges_per_node: 4

task_type: "classification"

conv_type: "NNConv"

num_layers: 4
hidden_channels: 64
use_norm: true
learning_rate: 0.0002
batch_size: 64
baseline_epochs: 100
explainer_epochs: 200

baseline_pretrained: null
explainer_pretrained: null

sparsity: 0.2
reward_coeff: 2.0

train_size: 0.8
val_size: 0.1
test_size: 0.1

logging: true
tb_logging: true
seed: 0

retrain_predictors: false

visualize_predictions: true
