version: '3.8'

services:
  rlgraphs:
    build: .
    container_name: rlgraphs-gpu-container
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ports:
      - "8888:8888"
      - "6006:6006"
    volumes:
      - /mnt/src/rlgraphs:/workspace
    working_dir: /workspace
    stdin_open: true
    tty: true
    command: ["/bin/bash"]
